@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,700&display=swap');
/*================== theme color ==================*/
:root {
    /*color*/
    --primary-color: #1c3c6b;
    --secondary-color: #fccd03;
    --text-color: #2b2b2b;
    --bg-color: #ebf0f4;

    /*size*/

    --text-tittle-size: 35px;
    --text-tittle2--size: 35px;
    --text-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}
.form-control:focus {
    border-color: var(--primary-color) !important;
    outline: 0;
    box-shadow: none !important;
}

/* home page css start */

#brand-header {
    background-color: transparent !important;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-header {
    z-index: 3;
}
.home-banner {
    width: 100%;
    min-height: 650px;
}

.home-banner-bg {
    width: 100%;
    height: 650px;
    pointer-events: none;
}
.home-banner-bg img {
    width: 100%;
    height: 100%;
    /* filter: brightness(0.9);
    background-color: rgba(255, 255, 255, 0.5); */
}
.nav-link-text {
    font-size: 16px;
    color: #ffffff !important;
    font-weight: 500;
}

.nav-link-text2 {
    color: var(--primary-color) !important;
}

.nav-link-text:before {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color) !important;
    transition: width 0.3s ease;
}

.nav-link-text:hover::before {
    /* color: var(--secondary-color) !important; */
    width: 100%;
}
.nav-link-text.nav-active::before {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color) !important;
    transition: width 0.3s ease;
}
.nav-link-text.nav-active::before {
    /* color: var(--secondary-color) !important; */
    width: 100%;
}
.btn-header {
    background-color: var(--primary-color) !important;
    color: #ffffff !important;
}

.nav-tabs {
    border-color: transparent !important;
}

.bg-body-color {
    background-color: var(--bg-color);
    height: 100%;
}
.cursor-pointer {
    cursor: pointer;
}
.campaign-image {
    border-radius: 15px;
    overflow: hidden;
    margin-top: 4rem;
}
.campaign-image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* search css start */
.search-container {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    z-index: 2;
}
.search-content {
    background: #fff;
    -webkit-box-shadow: 0 20px 100px 10px rgba(24, 33, 77, 0.05);
    box-shadow: 0 20px 100px 10px rgba(24, 33, 77, 0.05);
    border-radius: 20px;
    padding: 50px 30px 32px;
}

.header-search {
    position: absolute;
    top: -30px;
    width: 400px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 4px 10px rgba(0, 117, 255, 0.0898711);
    box-shadow: 0 4px 10px rgba(0, 117, 255, 0.0898711);
    border-radius: 10px;
}
.location {
    font-size: 1rem;
    line-height: 26px;
    font-weight: 600;
    color: #3a483e !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.location img {
    height: 25px;
    width: 25px;
}
.line-hr {
    border-left: 1px solid #bdbdbd;
    height: 400px;
}

.boder-line {
    height: 1px;
    border: 1px solid var(--secondary-color);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.tab-line {
    width: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.tab-links {
    width: 190px;
    margin-right: auto;
    margin-left: auto;
}

.local-search {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.box {
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid #dbdde0;
    cursor: pointer;
    /* position: relative; */
}
/* .location-from {
    flex-basis: calc(25% - 10px);
    max-width: calc(25% - 10px);
    margin-right: 10px;
} */

.box .label {
    font-size: 0.8571428571rem;
    line-height: 14px;
    font-weight: 400;
    display: block;
}
.box span.label {
    text-transform: uppercase;
    color: #1c3c6b;
    margin-bottom: 4px;
}
.box .value {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 600;
    color: #1c3c6b;
}
.box .value + .sub-value {
    margin-top: 0;
    font-size: 12px;
}

.box .sub-value {
    font-size: 0.7857142857rem;
    line-height: 14px;
    font-weight: 400;
    display: block;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

.box span.sub-value {
    color: #5d6974;
}

.radio-wrapper {
    cursor: pointer;
    font-size: 16px;
    color: #bbc5d3;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.tab-name:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.tab-active {
    color: var(--primary-color);
}
/* Style the custom radio button */
.custom-radio {
    appearance: none; /* Hide the default radio button appearance */
    -webkit-appearance: none; /* For older versions of Safari */
    width: 16px; /* Adjust this value to change the radio button size */
    height: 16px; /* Adjust this value to change the radio button size */
    border: 2px solid #bbc5d3; /* Border color for the unchecked state */
    background-color: white; /* Background color for the unchecked state */
    border-radius: 50%; /* Make it round */
    outline: none; /* Remove the outline when focused */
    cursor: pointer;
}

/* Style the custom radio button when checked */
.custom-radio:checked {
    background-color: var(
        --primary-color
    ); /* Background color for the checked state */
    border: 2px solid var(--primary-color); /* Border color for the checked state */
}

/* Optional: Add a hover effect */
.custom-radio:hover {
    border: 2px solid var(--primary-color); /* Border color on hover */
}

article {
    display: none;
    cursor: pointer;
}
article.on {
    display: block;
    cursor: pointer;
}

.search-card {
    display: grid;
    grid-template-columns: 23% 23% 31% 20%;
    gap: 0.6rem;
    /* justify-items: center; */
}

.search-card .search-content {
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid #dbdde0;
    cursor: pointer;
    position: relative;
}

/* search icon */

.swapper {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: 40px;
    background-position: 50%;
    background-repeat: no-repeat;
    top: 50%;
    left: -10px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.inner-button-search {
    /* padding: 8px 15px; */
    border-radius: 10px;
    border: 1px solid #dbdde0 !important;
    cursor: pointer;
    background-color: #ffffff !important;
    text-align: start;
}
.label {
    text-transform: uppercase;
    color: #1c3c6b;
    margin-bottom: 10px;
    font-size: 14px;
    display: inline-block;
}
.value {
    font-size: 1rem;
    line-height: 6px;
    font-weight: 700;
    color: #1c3c6b;
}

.sub-value {
    margin-top: 0;
    font-size: 12px;
    color: #5d6974;
    line-height: 14px;
    font-weight: 400;
    display: block;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 98%;
}

.search-content-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.sub-value.inline-style {
    white-space: normal;
}
.value span {
    font-size: 1rem;
    font-weight: 400;
}

.search-btn-container button.search-btn {
    border: 0;
    background-color: #fccd03;
    color: #1c3c6b;
    border-radius: 10px;
    padding: 12px 50px;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    outline: none;
}

/* search css end */

.title {
    color: var(--primary-color);
    font-style: var(--text-tittle-size);
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
}

.featured-container {
    margin-top: 4rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 4rem;
}

.grid-card {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 12px;
}

.card-imags {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-imags img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 12px 6px;
}

.card-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #2b2b2b;
}
.card-text {
    color: #1c3c6b;
    font-size: 14px;
    margin-top: 6px;
}

.card-btn {
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 32px;
    color: var(--secondary-color);
    font-weight: 600;
}

.learn-more {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 14px;
}
.circle {
    width: 45px;
    height: 45px;
    background-color: var(--secondary-color);
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 22px;
    right: -22px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 16px;
}
.circle span {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    transform: rotate(45deg);
}

.package-grid {
    margin-top: 4rem;
}

.packages-card {
    height: 160px;
    border-radius: 12px;
    background-color: #ffffff;
    margin-bottom: 10px;
}
.image-card {
    height: 160px;
    object-fit: cover;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    display: inline-block; /* Make the container inline so it wraps the image */
    position: relative;
}

/* Apply a gradient background on the right side of the container */
.image-card::after {
    content: ''; /* Create a pseudo-element */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
    z-index: 1;
}
.image-card img {
    height: 100%;
    width: 100%;
    display: block;
    z-index: 2;
    object-fit: cover;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.details-btn {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 32px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
}
.star-icon {
    color: var(--secondary-color) !important;
}

.recent-container {
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.recent-warpper {
    background-color: #ffffff;
}
.recent-gird {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 4rem;
}
/* home page css end */

/* all package page css start */

.search-field input::placeholder {
    letter-spacing: 1px;
    font-size: 14px;
}

.btns-search {
    background-color: var(--secondary-color) !important;
    color: #ffffff !important;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid var(--secondary-color);
    padding-left: 35px;
    padding-right: 35px;
}

.allPackpage-container {
    display: flex;
    gap: 3rem;
}

.allPackpage-container .left {
    flex-basis: 30%;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

.place-found {
    font-size: 14px;
    color: var(--primary-color) !important;
    font-weight: 600;
}

/* price range css */

.price-input {
    width: 100%;
    display: flex;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 14px;
    color: #2b2b2b;
    font-weight: 600;
    border: 0;
    -moz-appearance: textfield;
}
.field span {
    font-size: 14px;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}
.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}
.slider .progress {
    height: 100%;
    left: 10%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: var(--primary-color);
}
.range-input {
    position: relative;
}
.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type='range']::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: var(--primary-color);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type='range']::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: var(--primary-color);
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.check-field:checked {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.check-field:focus {
    border-color: var(--primary-color) !important;
    outline: 0;
    box-shadow: none !important;
}
.check-text {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-top: 4px;
    cursor: pointer;
}
.button-time {
    border: 1px solid #d8d6de !important;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent !important;
}

.allPackpage-container .right {
    flex-basis: 70%;
}

.right-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}
.right-items-card {
    background-color: #ffffff;
    padding: 8px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.right-items-card span {
    font-size: 12px;
    color: var(--primary-color);
    font-weight: 600;
}
.right-items-card img {
    height: 30px;
}
.all-packages-contanier {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.all-packages-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    gap: 1rem;
}

.left-packages {
    width: 40%;
}
.left-packages img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.right-packages {
    width: 60%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.package-card-left-text {
    width: 75%;
}

.package-card-left-text .end-text {
    margin-top: 3rem;
}

.package-tag {
    background-color: #eeeeee !important;
    border-radius: 6px;
    border: 1px solid #dbdde0 !important;
    color: #777777 !important;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
}

.package-card-right-text {
    width: 25%;
}
.package-card-right-text .start-from {
    font-size: 12px;
    color: var(--primary-color);
}
.discount {
    text-decoration: line-through;
    color: #4c4cec;
    font-size: 14px;
    font-weight: 500;
}
.price-package {
    color: var(--primary-color);
}
.off-btn {
    border: 1px solid var(--secondary-color) !important;
    color: var(--secondary-color) !important;
    font-weight: 600;
    text-align: end;
    padding-top: 4px;
    padding-bottom: 4px;
}
.text-request {
    color: var(--primary-color);
    font-weight: 600;
}
.request-btn {
    background-color: var(--primary-color) !important;
    color: #ffffff !important;
}
.pagination-link {
    border: 1px solid var(--primary-color) !important;
    border-radius: 4px !important;
    color: var(--primary-color) !important;
    box-shadow: none !important;
}
.active-page {
    background: var(--primary-color) !important;
    color: #ffffff !important;
}

.input-text {
    font-size: 14px;
}
.form-title {
    color: var(--primary-color) !important;
}
/* all package page css end */

/* login css start */
.sign-container {
    display: flex;
    padding-top: 6rem;
    padding-bottom: 6rem;
    align-items: center;
    gap: 4rem;
}
.sign-img {
    width: 60%;
}

.sign-img img {
    width: 100%;
}
.sign-content {
    width: 40%;
}

.sign-btn {
    background-color: #ffffff !important;
    padding: 14px;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #ffffff !important;
}

.login-icon {
    width: 16px;
}
.login-tilte {
    font-size: 22px !important;
    margin-bottom: 2.3rem;
}
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-line,
.right-line {
    flex-grow: 1;
    height: 2px;
    background-color: #dbdde0;
}

.centered-text {
    padding: 0 5px;
}
.login-input {
    padding-top: 10px;
    padding-bottom: 10px;
}
.login-input:focus {
    border-bottom: 1px solid #dee2e6 !important;
    border-left: 1px solid #dee2e6 !important;
    border-top: 1px solid #dee2e6 !important;
}
.rem-pass {
    color: #5d6974;
    font-size: 14px;
}

.rem-pass-check:checked {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.rem-pass-check:focus {
    border-color: var(--primary-color) !important;
    outline: 0;
    box-shadow: none !important;
}
.login-btn {
    background-color: var(--primary-color) !important;
    color: #ffffff !important;
    border: 1px solid var(--primary-color) !important;
    padding-top: 8px;
    padding-bottom: 8px;
}
.login-label {
    font-size: 15px;
}

.email-icon {
    /* position: absolute;
    top: 31%;
    right: 3.5%; */
    font-size: 18px;
    color: #c4c4c5;
}

.sign-link {
    font-size: 14px;
    color: #5d6974;
}
.sign-text:hover {
    text-decoration: underline;
}
/* login css end */

/* footer start */

.footer {
    background-color: var(--primary-color);
    padding-bottom: 1rem;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    justify-items: center;
}
.footer-title {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 1rem;
}
.footer-link-item {
    margin-bottom: 0.7rem;
}
.footer-link-text {
    font-size: 14px;
    color: #f3eeee;
    font-weight: 400;
}
.footer-link-text:hover {
    text-decoration: underline;
}
.footer-icon {
    color: #ffffff;
    font-size: 20px;
}
.footer-icon:hover {
    color: var(--secondary-color);
}
.footer-img {
    max-width: 120px;
    object-fit: cover;
}
.footer-img img {
    max-width: 100%;
    object-fit: cover;
}
.footer-copy {
    font-size: 12px;
    color: #dad9d9;
}

/* footer end */

/* ====== tablet device ====== */
@media screen and (max-width: 1024px) {
}

/* ======small device ======*/
@media screen and (max-width: 576px) {
}
