@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,700&display=swap');
/*================== theme color ==================*/
:root {
    /*color*/
    --primary-color: #1c3c6b;
    --secondary-color: #fccd03;
    --text-color: #2b2b2b;
    --bg-color: #ebf0f4;

    /*size*/

    --text-tittle-size: 35px;
    --text-tittle2--size: 35px;
    --text-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

/* home page css start */

#brand-header {
    background-color: transparent !important;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-header {
    z-index: 3;
}
.home-banner {
    width: 100%;
    min-height: 650px;
}

.home-banner-bg {
    width: 100%;
    height: 650px;
    pointer-events: none;
}
.home-banner-bg img {
    width: 100%;
    height: 100%;
    /* filter: brightness(0.9);
    background-color: rgba(255, 255, 255, 0.5); */
}
.nav-link-text {
    font-size: 16px;
    color: #ffffff !important;
    font-weight: 500;
}

.nav-link-text:before {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color) !important;
    transition: width 0.3s ease;
}

.nav-link-text:hover::before {
    /* color: var(--secondary-color) !important; */
    width: 100%;
}
.nav-link-text.nav-active::before {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color) !important;
    transition: width 0.3s ease;
}
.nav-link-text.nav-active::before {
    /* color: var(--secondary-color) !important; */
    width: 100%;
}
.btn-header {
    background-color: var(--primary-color) !important;
    color: #ffffff !important;
}

.nav-tabs {
    border-color: transparent !important;
}

.bg-body-color {
    background-color: var(--bg-color);
    height: 100%;
}
.cursor-pointer {
    cursor: pointer;
}
.campaign-image {
    border-radius: 15px;
    overflow: hidden;
    margin-top: 4rem;
}
.campaign-image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* search css start */
.search-container {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    z-index: 2;
}
.search-content {
    background: #fff;
    -webkit-box-shadow: 0 20px 100px 10px rgba(24, 33, 77, 0.05);
    box-shadow: 0 20px 100px 10px rgba(24, 33, 77, 0.05);
    border-radius: 20px;
    padding: 50px 30px 40px;
}

.header-search {
    position: absolute;
    top: -30px;
    width: 400px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 4px 10px rgba(0, 117, 255, 0.0898711);
    box-shadow: 0 4px 10px rgba(0, 117, 255, 0.0898711);
    border-radius: 10px;
}
.location {
    font-size: 1rem;
    line-height: 26px;
    font-weight: 600;
    color: #3a483e !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.location img {
    height: 25px;
    width: 25px;
}
.line-hr {
    border-left: 1px solid #bdbdbd;
    height: 400px;
}

.boder-line {
    height: 1px;
    border: 1px solid var(--secondary-color);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.tab-line {
    width: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.tab-links {
    width: 190px;
    margin-right: auto;
    margin-left: auto;
}

.local-search {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.box {
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid #dbdde0;
    cursor: pointer;
    /* position: relative; */
}
/* .location-from {
    flex-basis: calc(25% - 10px);
    max-width: calc(25% - 10px);
    margin-right: 10px;
} */

.box .label {
    font-size: 0.8571428571rem;
    line-height: 14px;
    font-weight: 400;
    display: block;
}
.box span.label {
    text-transform: uppercase;
    color: #1c3c6b;
    margin-bottom: 4px;
}
.box .value {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 600;
    color: #1c3c6b;
}
.box .value + .sub-value {
    margin-top: 0;
    font-size: 12px;
}

.box .sub-value {
    font-size: 0.7857142857rem;
    line-height: 14px;
    font-weight: 400;
    display: block;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

.box span.sub-value {
    color: #5d6974;
}

/* search css end */

.title {
    color: var(--primary-color);
    font-style: var(--text-tittle-size);
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
}

.featured-container {
    margin-top: 4rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 4rem;
}

.grid-card {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 12px;
}

.card-imags {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-imags img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 12px 6px;
}

.card-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #2b2b2b;
}
.card-text {
    color: #1c3c6b;
    font-size: 14px;
    margin-top: 6px;
}

.card-btn {
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 32px;
    color: var(--secondary-color);
    font-weight: 600;
}

.learn-more {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 14px;
}
.circle {
    width: 45px;
    height: 45px;
    background-color: var(--secondary-color);
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 22px;
    right: -22px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 16px;
}
.circle span {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    transform: rotate(45deg);
}

.package-grid {
    margin-top: 4rem;
}

.packages-card {
    height: 160px;
    border-radius: 12px;
    background-color: #ffffff;
    margin-bottom: 10px;
}
.image-card {
    height: 160px;
    object-fit: cover;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    display: inline-block; /* Make the container inline so it wraps the image */
    position: relative;
}

/* Apply a gradient background on the right side of the container */
.image-card::after {
    content: ''; /* Create a pseudo-element */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
    z-index: 1;
}
.image-card img {
    height: 100%;
    width: 100%;
    display: block;
    z-index: 2;
    object-fit: cover;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.details-btn {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 32px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
}
.star-icon {
    color: var(--secondary-color) !important;
}

.recent-container {
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.recent-warpper {
    background-color: #ffffff;
}
.recent-gird {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 4rem;
}
/* home page css end */

/* footer start */

.footer {
    background-color: var(--primary-color);
    padding-bottom: 1rem;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.footer-title {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 1rem;
}
.footer-link-item {
    margin-bottom: 0.7rem;
}
.footer-link-text {
    font-size: 14px;
    color: #f3eeee;
    font-weight: 400;
}
.footer-link-text:hover {
    text-decoration: underline;
}
.footer-icon {
    color: #ffffff;
    font-size: 20px;
}
.footer-img {
    max-width: 120px;
    object-fit: cover;
}
.footer-img img {
    max-width: 100%;
    object-fit: cover;
}
.footer-copy {
    font-size: 12px;
    color: #dad9d9;
}
/* footer end */

/* ====== tablet device ====== */
@media screen and (max-width: 1024px) {
}

/* ======small device ======*/
@media screen and (max-width: 576px) {
}
